@import 'assets/index.scss';

.base {
}

.label {
    @include font18;
    width: 100%;
    color: $primary;
}

.input {
    @include font18;

    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid $blue;
}
