@import '../../assets/index.scss';

.base {
    margin-top: calc(-#{$headerHeight});
}

.container {
    @include contentWidth;
}

.imageContainer {
    @include center;

    height: 100vh;
    background-image: url('/images/main-01.svg');
    background-size: cover;
    background-position: 65% bottom;
    background-repeat: no-repeat;
}

.imageContent {
    width: 500px;

    .title {
        font-size: 56px;
        font-weight: bold;
        color: $wight;
        margin-bottom: $spacingBase;
    }

    .subtitle {
        font-size: 24px;
        color: $wight;
        margin-bottom: 90px;
    }
}

.instruments {
    @include center;
    margin-top: 100px;
    margin-bottom: 200px;

    .title {
        @include jCenter;

        font-size: 48px;
        color: $primary;
        margin-bottom: $spacingBase;
    }

    .subtitle {
        @include jCenter;

        font-size: 20px;
        margin-bottom: 60px;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 353px;
            height: 290px;
            margin-bottom: 25px;

            &:nth-child(4),
            &:nth-child(5) {
                width: 540px;
            }
        }
    }
}
