$lightBlue: #b2eaea;
$blue: #4349ba;

.base {
    cursor: pointer;
    padding: 20px 30px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    font-size: 18px;
    transition: 0.25s ease;

    border-color: $lightBlue;
    background: transparent;
    position: relative;
    overflow: hidden;
    color: $blue;

    &::after {
        content: '';
        position: absolute;
        background: $lightBlue;
        width: 100%;
        height: 100%;
        transition: 0.25s ease;
        transform: translate(0, 0);
        top: 0;
        left: 0;
    }
    &:hover {
        color: $lightBlue;
        &:after {
            transform: translate(0, 100%);
        }
    }

    & > span {
        position: relative;
        z-index: 1;
        font-weight: bold;
    }

    // new types
    &.lightBlueBlue {
        border: none;
        background: $blue;
        color: $blue;

        &::after {
            background: $lightBlue;
        }

        &:hover {
            color: $lightBlue;
        }
    }
}
