@import 'assets/index.scss';

.base {
    @include jCenter;
    min-height: calc(100vh - #{$headerHeight});
}

.container {
    @include contentWidth;
}

.content {
    display: flex;
    align-items: flex-start;
    margin-top: 70px;
    margin-bottom: 40px;

    @include t {
        flex-wrap: wrap;
    }

    @include m {
        margin-top: 40px;
    }

    .mainBlock {
        flex: 1;
        box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
        border-radius: 6px;
        padding: 40px 70px;

        @include m {
            box-shadow: none;
            padding: 30px 20px;
        }
    }

    .sideBlock {
        margin-left: 20px;
        width: 350px;
        box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.3);
        border-radius: 6px;
        padding: 40px 40px 70px;

        @include t {
            width: 100%;
            margin-left: 0;
            order: -1;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 40px 70px;
        }

        @include m {
            padding: 30px 20px;
            flex-wrap: wrap;
        }
    }
}
