@import '../../assets/index.scss';

.base {
    margin-top: calc(-#{$headerHeight});
}

.container {
    @include contentWidth;

    @include m {
        margin-top: -50px;
    }
}

.imageContainer {
    @include center;

    height: 100vh;
    background-image: url('/images/main-01.svg');
    background-size: cover;
    background-position: 65% bottom;
    background-repeat: no-repeat;

    @include m {
        background-image: url('/images/mainMob.svg');
        height: 540px;
        background-position: 65% 0;
    }
}

.imageContent {
    @include width(500px, 400px, 280px);

    .title {
        @include font56;

        font-weight: bold;
        color: $wight;
        margin-bottom: $spacingBase;
    }

    .subtitle {
        @include font24;

        color: $wight;
        margin-bottom: 90px;

        @include t {
            margin-bottom: 40px;
        }

        @include m {
            margin-bottom: 20px;
        }
    }

    .button {
        font-size: 16px;
        padding: 15px 20px;
    }
}

.instruments {
    @include center;
    margin-top: 100px;
    margin-bottom: 100px;

    .title {
        @include jCenter;
        @include font48;

        font-weight: bold;
        text-align: center;
        color: $primary;
        margin-bottom: $spacingBase;
    }

    .subtitle {
        @include jCenter;
        @include font20;

        text-align: center;
        margin-bottom: 60px;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include t {
            padding: 0 17px;
        }

        .item {
            width: 353px;
            height: 290px;
            margin-bottom: 25px;

            @include d {
                &:nth-child(4),
                &:nth-child(5) {
                    width: 540px;
                }
            }

            @include m {
                height: 200px;
            }
        }
    }
}

.modal {
    width: 300px;
    height: 300px;
}
