@import 'assets/index.scss';

.base {
    width: 100%;
}

.block {
    margin-bottom: 30px;
}

.header {
    @include font18;
    margin-bottom: 15px;
    font-weight: 600;
}

.text {
    @include font14;
}
