@import '../../../assets/index.scss';

$desktopFilterWidth: 300px;

.base {
    @include jCenter;
    min-height: calc(100vh - #{$headerHeight});
    margin-bottom: 60px;
}

.container {
    @include contentWidth;
}

.header {
    @include jCenter;
    flex-wrap: wrap;
    margin: 70px 0 40px;

    .headerTitle {
        @include font48;

        width: 100%;
        text-align: center;
        font-weight: bold;
        color: $primary;
    }
}
.text {
    @include font20;

    width: 100%;
    padding: 0 10px;
}
