@import '../../../assets/index.scss';

.base {
    width: 100%;

    .filterTitle {
        @include font24;
        color: $primary;
        font-weight: bold;
    }
}

.filterBlokes {
    margin-bottom: 30px;
}

// .filterBlok {
//     @include font18;

//     .filterBlokHeder {
//         font-weight: bold;
//     }

//     .filterBlokContent {
//         .filterBlokItem {
//             @include aCenter;

//             cursor: pointer;
//             margin-bottom: 10px;
//         }
//     }
// }
