@import '../../../assets/index.scss';

.filterBlok {
    @include font18;

    .filterBlokHeder {
        font-weight: bold;
    }

    .filterBlokContent {
        .filterBlokItem {
            @include aCenter;

            cursor: pointer;
            margin-bottom: 10px;
        }
    }
}
