@import '../../../assets/index.scss';

.base {
    width: 100%;

    .filterTitle {
        @include font24;
        color: $primary;
        font-weight: bold;
    }
}

.filterBlokes {
    margin-bottom: 30px;
}
