@import '../../../assets/index.scss';

.filterBlok {
    @include font18;

    .filterBlokHeder {
        font-weight: bold;
    }

    .filterBlokContent {
        .filterBlokItem {
            @include aCenter;

            cursor: pointer;
            margin-bottom: 10px;
        }
    }
}

.tooltip {
    max-width: 150px;
    z-index: 20;

    .tooltipLink {
        font-weight: bold;
        color: #4349ba;
    }
}
