@import '../../../assets/index.scss';

.filterBlokHeder {
    @include font18;

    font-weight: bold;
}

.tooltip {
    :global {
        .rc-slider-tooltip-arrow {
            display: none;
        }
        .rc-slider-tooltip-inner {
            color: $primary;
            background-color: transparent;
            font-size: 14px;
            font-weight: bold;
            box-shadow: none;
        }
    }
}
