@import '../../../assets/index.scss';

.filterBlok {
    width: 200px;
}

.filterBlokHeder {
    @include font18;

    font-weight: bold;
}

.titles {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px;
}

.tooltip {
    :global {
        .rc-slider-tooltip-arrow {
            display: none;
        }
        .rc-slider-tooltip-inner {
            color: $primary;
            background-color: transparent;
            font-size: 14px;
            font-weight: bold;
            box-shadow: none;
        }
    }
}
