@import 'assets/index.scss';

$paddingTop: 30px;

.base {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.nameContainer {
    padding-top: $paddingTop;
    padding-left: 80px;

    .image {
        position: absolute;
        max-width: 100px;
        max-height: 100px;
        top: 0;
        left: 0;
    }

    .name {
        @include font30;
        font-weight: bold;
        color: $primary;
        margin-bottom: 20px;
    }
    .description {
        @include font18;
    }
}

.infoContainer {
    padding-top: $paddingTop;
    width: 500px;

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        .col {
            display: flex;
            font-weight: bold;
            color: #333333;
            width: 170px;
            justify-content: space-between;
        }
    }

    .currency {
        display: flex;
        align-items: center;

        .symbol {
            margin-right: 10px;
            img {
                width: 22px;
                height: 22px;
            }
        }

        .name {
            font-weight: 500;
        }
    }

    .icons {
        display: flex;

        .icon {
            margin-left: 8px;
        }
    }

    .iconRisk {
        width: 13px;
        height: 19px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/images/flash.svg');

        &.selected {
            background-image: url('/images/flash-02.svg');
        }
    }

    .iconComplexity {
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/images/puzzle-01.svg');

        &.selected {
            background-image: url('/images/puzzle-02.svg');
        }
    }
}
