@import 'assets/index.scss';

$paddingTop: 30px;
$paddingLeft: 80px;

.base {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    @include t {
        flex-wrap: wrap;
    }
}

.nameContainer {
    padding-top: $paddingTop;
    padding-left: $paddingLeft;

    @include m {
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .image {
        position: absolute;
        max-width: 100px;
        max-height: 100px;
        top: 0;
        left: 0;

        @include m {
            position: relative;
            max-width: 50px;
            max-height: 50px;
        }
    }

    .name {
        @include font30;
        font-weight: bold;
        color: $primary;
        margin-bottom: 20px;

        @include m {
            margin-left: 10px;
            margin-bottom: 0px;
        }
    }

    .description {
        @include font18;

        @include m {
            margin-top: 20px;
            width: 100%;
        }
    }
}
