@import './assets/index.scss';

body,
html {
    font-family: 'NobelWGL', sans-serif;
    line-height: 1.15;
    color: $darkBlue;
    margin: 0;
}

button {
    font-family: 'NobelWGL', sans-serif;
}

div {
    position: relative;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.markdown {
    img {
        width: 100%;
    }

    a {
        color: #4349ba;
    }
}
