@import '../../assets/index.scss';

.base {
    display: flex;
    background-color: $primary;
    height: $headerHeight;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    z-index: 10;

    &.transparent {
        background-color: transparent;
    }
}

.container {
    @include contentWidth;

    display: flex;
    align-items: center;

    @include t {
        justify-content: space-between;
    }
}

.logo {
    width: 150px;
    height: 31px;
    margin-right: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/images/logo-white-01.svg');
}

.items {
    display: flex;
    align-items: flex-end;
    height: 31px;

    @include t {
        display: none;

        &.menuOpen {
            display: flex;
        }
    }

    @include t {
        position: absolute;
        top: -20px;
        right: 0;
        width: 250px;
        flex-wrap: wrap;
        padding: 60px 25px 30px;
        background-color: #1f2581;
        border-radius: 14px;

        @include font20;
        font-weight: bold;
        color: rgba($color: #ffffff, $alpha: 0.6);
    }

    .item {
        margin-right: 40px;
        cursor: pointer;

        &.selected {
            color: $blue;
        }

        @include t {
            margin-right: 0;

            &:hover {
                color: rgba($color: #ffffff, $alpha: 1);
            }
        }
    }
}

.menu {
    display: none;
    cursor: pointer;

    @include t {
        display: block;
    }

    .button {
        width: 25px;
        height: 25px;
        margin-right: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('/images/menu.svg');
    }
}
