@import '../../assets/index.scss';

$bgColor: #ced1ec;

.base {
    display: flex;
    background-color: $bgColor;
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    z-index: 10;

    @include m {
        padding-top: 40px;
    }

    &.transparent {
        background-color: transparent;
    }
}

.container {
    @include contentWidth;
}

.navigation {
    display: flex;
    font-size: 16px;

    @include t {
        justify-content: space-between;
    }

    @include m {
        flex-wrap: wrap;
    }
}

.logo {
    width: 150px;
    height: 31px;
    margin-right: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/images/logo-blue-01.svg');

    @include m {
        width: 100%;
        margin-right: 0;
        background-position: center;
        margin-bottom: 40px;
    }
}

.items {
    display: flex;
    flex: 1;
    padding-top: 12px;
    margin-bottom: 23px;

    @include m {
        display: none;
    }

    .item {
        margin-right: 40px;
        cursor: pointer;
    }
}

.leftPart {
    width: 50%;

    @include m {
        width: 100%;
    }
}

.navigationRightPart {
    width: 50%;

    @include m {
        @include jCenter;
        flex-wrap: wrap;
        width: 100%;
    }

    .text {
        margin-bottom: 16px;

        @include m {
            margin-bottom: 20px;
            text-align: center;
        }

        .title {
            @include font24;
            color: $primary;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .subtitle {
            font-size: 16px;
        }
    }

    .inputContainer {
        display: flex;
        width: 100%;
        height: 55px;

        @include m {
            flex-wrap: wrap;
        }

        .input {
            flex: 1;
            background-color: #dddff2;
            padding: 10px;
            border-radius: 6px 0 0 6px;

            input {
                opacity: 0.5;
                border: none;
                background-color: #dddff2;
            }

            @include m {
                width: 100%;
            }
        }
        .buttonWrapper {
            box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.75);
            border-radius: 6px;

            .button {
                height: 100%;
                padding: 0 20px;
                margin-left: -5px;

                @include m {
                    margin: 0 auto;
                    width: 100%;
                    padding: 20px;
                }
            }
        }
    }
}

.contacts {
    @include font18;

    display: flex;

    @include m {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
}

.contactsEmail {
    display: flex;

    @include m {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.contactsSocial {
    display: flex;
    align-items: center;
    margin-right: 120px;

    @include m {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
        justify-content: center;
    }

    .socialButtons {
        .socialButton {
            margin: 0 4px;
            img {
                width: 28px;
            }
        }
    }
}
